# Introduction to Output Types in a Notebook

Notebooks allow you to display **different types of results** directly from Python code.  
Here are some simple examples to illustrate this interactivity.

## 1. Displaying a Simple Value

You can display the result of an expression directly:

In [ ]:
# A numeric value
42

## 2. Displaying a String

In [ ]:
# Simple text
"Hello from Jupyter Notebook!"

## 3. Calculations and Operations

In [ ]:
# A mathematical operation
2 * 7 + 3

## 4. List and Dictionary

In [ ]:
# A list
[1, 2, 3, 4, 5]

# A dictionary
{"name": "Alice", "age": 30}

## 5. Simple Plot with Matplotlib

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4]
y = [10, 20, 25, 30]

plt.plot(x, y, marker='o')
plt.title("Example Plot")
plt.xlabel("X")
plt.ylabel("Y")
plt.show()

## 6. Table of Data with Pandas

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Score": [85, 90, 78]
})

df

## 7. Displaying an Image

In [ ]:
from IPython.display import Image

# Display a local or web image
Image(url="https://www.python.org/static/community_logos/python-logo.png", width=200)